html {
  background: #f5f5f5;
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif !important;
  background: #f5f5f5 !important;
  font-size: 100%;
}

label {
  font-weight: 300 !important;
}

h1 {
  font-family: "Roboto Condensed", sans-serif !important;
  text-transform: uppercase;
  font-size: 1.5rem !important;
  font-weight: 700;
}

.center {
  text-align: center;
}

header {
  display: -webkit-box;
  display: flex !important;
  border-bottom: 1px solid #e6e6e6;
  background: #ffffff;
}
header .fa-mobile {
  align-self: center;
}
header .logo-bg {
  background: #1466b0;
  display: inline-block;
  padding: 1rem 2rem;
  position: relative;
}
header .logo-bg img {
  max-width: 210px;
  height: auto;
}
header .logo-bg:after {
  position: absolute;
  content: "";
  top: 0;
  width: 2rem;
  background: #1466b0;
  right: -1rem;
  bottom: 0;
  -webkit-transform: skewY(-15deg);
  transform: skewX(-20deg);
}
header .logout {
  background: #1466b0;
  margin-left: auto;
  padding: 0 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .logout i {
  align-self: center;
  color: #ffffff;
  font-size: 2rem;
}
header .logout:hover {
  background: #1981de;
  text-decoration: none;
}

header h1 {
  font-size: 1rem !important;
  color: #414f57 !important;
  margin: 0;
  padding: 0 !important;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

.table {
  background-color: #fff !important;
}

.spacer-top-bot {
  padding: 2rem 0;
}

.mini-spacer-top-bot {
  padding: 0.5rem 0;
}

.body-content {
  background: #f5f5f5;
  margin: 2rem 0;
}

.body-content h1 {
  font-size: 2rem;
  color: #000;
}

p {
  margin-bottom: 0 !important;
}

.link-header {
  display: inline-block;
  color: #414f57 !important;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  position: relative;
  text-align: center;
}

.link-header:hover {
  text-decoration: none;
}

.link-header:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  bottom: -0.1rem;
  left: 0.6rem;
  background-color: #414f57 !important;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

.fa-sign-out-alt,
.fa-chart-bar,
.far.fa-clock,
.fa-user-circle,
.fa-exclamation-circle,
.fa-arrow-left,
.fa-desktop,
.fa-calendar,
.fa-paper-plane,
.fa-plus-square,
.fa-archive,
.fa-euro-sign,
.fa-database,
.fa-plus,
.fa-file-pdf,
.fa-file-word,
.fa-file-word {
  padding-right: 0.4rem;
}

.link-header:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.modal-dialog {
  max-width: 100% !important;
}

footer {
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #1466b0;
  padding: 0.5rem 0;
}

.mention {
  text-align: center;
  font-size: 0.8rem;
}

.fc-day {
  transition: all ease-in-out 0.2s;
}

.fc-day:hover {
  cursor: pointer;
  background: #e8e8e8;
}

.body-content h2 {
  color: #4E76CC !important;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.fa-sign-out-alt, .fa-chart-bar, .far.fa-clock, .fa-user-circle, .fa-exclamation-circle, .fa-home {
  padding-right: 0.2rem;
}

@media screen and (min-width: 1024px) {
  #bg-login {
    background: url(../img/bg-login.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
  }
}
.login-box {
  background: #fff;
  border-radius: 5px;
}

.login-box label {
  font-weight: 600;
}

.login-box h4 {
  text-align: center;
}

.spacer-min {
  padding: 15px 0;
}

.modal-content {
  width: auto !important;
  margin: auto !important;
}

.modal-content input[type=number] {
  max-width: 50px;
}

.modal-content table {
  width: auto !important;
}

.modal-content .table th {
  text-align: center;
  font-size: 0.8rem;
}

.btn-primary {
  color: #fff !important;
}

h2 {
  margin: 1rem 0 0 0;
  padding: 1rem 0 0 0;
}

.body-content h1 {
  background: #1466b0;
  color: #fff;
  padding: 0.3rem;
  text-align: center;
  margin: 0;
  font-weight: 300 !important;
}

.container.page {
  margin-top: 2rem;
}

.container.page label {
  font-weight: 600;
}

.green {
  color: green;
  padding: 2rem 0;
}

.statut {
  font-weight: 600;
}

.min-table {
  font-size: 0.7rem !important;
}

.btn-lg {
  font-size: 1rem !important;
}

.btn-edit:before {
  font-family: "Font Awesome 5 Free";
}

#pagination {
  text-align: center;
  color: #414f57 !important;
}

#pagination.mobile a {
  padding: 1rem !important;
  background: #fff;
  margin: 0.5rem;
}

.mentions p {
  font-size: 0.7rem;
  text-align: center;
}

#pagination a {
  color: #414f57 !important;
  display: inline-block;
  padding: 0 0.5rem;
}

.bg-gris {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #e6e6e6;
}

.link-cub {
  display: inline-block;
  width: 100%;
  background: #fff;
  color: #1466b0;
  padding: 5rem;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin: 1rem 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.link-cub:hover {
  color: #fff;
  text-decoration: none;
  background: #1466b0;
}

.min-height-600 {
  min-height: 600px;
}

.info-lead {
  max-width: 20rem;
}

#mod-top {
  background: #001940;
  height: 2rem;
  line-height: 2rem;
  font-family: roboto condensed;
  font-weight: 600;
  color: #fff;
}

.top-content {
  padding: 1rem 0;
}

.link-edit {
  text-transform: uppercase;
}

.modal .table {
  box-shadow: none !important;
}

.pink {
  background: #ea354f;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem 0 !important;
}

.lead-block {
  background: #ea354f;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem 0 !important;
}

.lead-block i {
  padding-right: 0.5rem;
  color: #fff;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #1466b0 !important;
  outline: 0;
  box-shadow: none !important;
}

.bg-radio {
  background: #fff;
  padding: 1rem;
  display: inline-block;
}

.bg-radio label {
  margin: 0;
}

label {
  margin: 0 !important;
}

.mobile-panel {
  padding: 2rem;
  margin: 2rem 0;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #1466b0;
}

.mobile-panel h2 {
  margin: 0;
  padding: 0.2rem 0;
  text-align: center;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  background: #001940;
  color: #fff !important;
  font-size: 1rem;
}

.mobile-panel .btn-success {
  background: #ea354f;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  width: 100%;
}

.mobile-panel ul {
  list-style: none;
  padding: 0 !important;
}

.smartphone p.pink {
  width: 100%;
  text-align: center;
}

.smartphone .bg-radio {
  width: 100%;
}

.gold-encart {
  padding: 2rem 0;
}

.gold-encart h2 {
  color: #DAA520 !important;
}

.gold-encart .gold {
  color: #DAA520;
}

.gold-encart .gold.light {
  font-weight: 300;
  text-transform: uppercase;
}

.gold-encart .fas.fa-trophy {
  color: #DAA520;
  font-size: 2rem !important;
  display: block;
}

.coin p {
  font-style: italic;
  position: absolute;
  font-size: 28px;
  z-index: 700;
  right: 39%;
  top: 10%;
}

.coin.bronze p {
  color: #dfb667;
}

.coin.silver p {
  color: #a0a0a0;
}

.coin.golden p {
  color: #f2d732;
}

.coin {
  cursor: pointer;
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: relative;
  margin: 5px;
  top: 6px;
  border-radius: 50px;
  z-index: 500;
}

.coin:after {
  content: "";
  width: 42px;
  height: 42px;
  display: block;
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 50px;
  z-index: 600;
}

.coin:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 50px;
  z-index: 500;
}

.coin:hover {
  top: -1px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.bronze {
  background: linear-gradient(45deg, #dfb667 0%, #f9f3e8 56%, #e7c074 96%);
}

.bronze:before {
  background: linear-gradient(135deg, #d19c35 0%, #f7e6c5 50%, #e8b558 100%);
  border: 1px solid #e6b86a;
}

.bronze:after {
  background: linear-gradient(45deg, #dfb667 0%, #f9f3e8 56%, #e7c074 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(209, 156, 53, 0.3);
  border-right: 1px solid rgba(209, 156, 53, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, 0.05);
}

.bronze:hover:after {
  background: linear-gradient(45deg, #dfb667 0%, #f9f3e8 41%, #e7c074 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(209, 156, 53, 0.3);
  border-right: 1px solid rgba(209, 156, 53, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, 0.05);
}

.silver {
  background: linear-gradient(45deg, #a0a0a0 0%, #e8e8e8 56%);
}

.silver:before {
  background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
  border: 1px solid #b5b5b5;
}

.silver:after {
  background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  border-right: 1px solid rgba(160, 160, 160, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}

.silver:hover:after {
  background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 38%, #e8e8e8 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  border-right: 1px solid rgba(160, 160, 160, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}

.golden {
  background: linear-gradient(45deg, #f2d70c 0%, white 56%, #fceb00 96%);
}

.golden:before {
  background: linear-gradient(45deg, #f2d70c 0%, white 56%, #fceb00 96%);
  border: 1px solid #f2d70c;
}

.golden:after {
  background: linear-gradient(45deg, #f2d70c 0%, white 56%, #fceb00 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(242, 215, 12, 0.3);
  border-right: 1px solid rgba(242, 215, 12, 0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}

.golden:hover:after {
  background: linear-gradient(45deg, #f2d70c 3%, white 39%, #fceb00 100%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(242, 215, 12, 0.3);
  border-right: 1px solid rgba(242, 215, 12, 0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}

.gold {
  color: blue;
}

.lead-box h3 {
  font-size: 1rem;
}

.lead-box .link-cub h2 {
  color: #414f57;
}

.btn-action {
  background: #ea354f;
  color: #ffffff;
}

.btn-action:hover {
  color: #ffffff;
  background: #ef6377;
}

.padder {
  padding: 2rem 0;
}

.adduser_active {
  padding-right: 0.5rem;
}

.fa-backward {
  padding: 0 0.5rem 0 0;
}

h4 {
  font-size: 1.2rem;
  color: #414f57;
}

.chiffre-total {
  background: #ffffff;
  display: block;
  margin: 1rem auto;
  max-width: 200px;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  color: #1466b0;
}

.btn-success {
  border: 1px solid #1466b0 !important;
  background: none !important;
  color: #1466b0 !important;
  box-shadow: inset 0 0 0 0 #1466b0;
  -webkit-transition: ease-out 0.8s;
  -moz-transition: ease-out 0.8s;
  transition: ease-out 0.8s;
}
.btn-success:hover {
  background: #1981de !important;
  color: #fff !important;
  box-shadow: inset 1000px 0 0 0 #1466b0;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: none !important;
}

.sms {
  color: #1466b0;
  font-family: "Roboto Condensed", sans-serif;
  align-self: center;
  padding-left: 3rem;
}

.encart-chiffre {
  background-color: #fff;
  padding: 0.2rem;
  margin: 0.2rem;
  border: 1px solid #e6e6e6;
  text-align: center;
  border-radius: 5px;
}
.encart-chiffre span {
  font-weight: 700;
}

.line-center td {
  vertical-align: middle !important;
}

.p4 {
  padding: 1rem;
}

small {
  font-size: xx-small !important;
}

/*# sourceMappingURL=webapp.css.map */
