
html{
   background: #f5f5f5;
   font-size:16px;
}

body{
    font-family: 'Roboto', sans-serif !important;
    background: #f5f5f5 !important;
    font-size:100%;
}

label{
font-weight: 300 !important;    
}

h1{
    font-family: 'Roboto Condensed', sans-serif !important;
    text-transform: uppercase;
    font-size:1.5rem !important;
    font-weight: 700;
}

.center {
    text-align:center;
}

header {
    background:#fff;
     text-align: center;
     box-shadow:  0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 30px rgba(0,0,0,.12);
    margin-bottom:1rem;
}

header h1 {
    font-size: 1rem !important;
    color:#414f57 !important;
    margin:0;
    padding:0!important;
    font-weight:700;
    text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;

}

.table{
    background-color:#fff !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.spacer-top-bot {
    padding: 2rem 0;
}

.mini-spacer-top-bot{
    padding:0.5rem 0;
} 

.body-content{
    background: #f5f5f5;
}  

.body-content h1{
    font-size: 2rem;
    color: #000;
}

p {
    margin-bottom: 0 !important;
}


.link-header {
    display: inline-block;
    color: #414f57 !important;
    font-size: 0.8rem;
    padding: 0 0.5rem;
    position: relative;
    text-align: center;
}

.link-header:hover {
    text-decoration: none;
}

.link-header:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    bottom: -.1rem;
    left: 0.6rem;
    background-color: #414f57 !important;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all .1s ease-in-out 0s;
    transition: all .1s ease-in-out 0s;
}

.fa-sign-out-alt, 
.fa-chart-bar, 
.far.fa-clock, 
.fa-user-circle, 
.fa-exclamation-circle,
.fa-arrow-left,
.fa-desktop,
.fa-calendar,
.fa-paper-plane,
.fa-plus-square,
.fa-archive{
    padding-right: 0.4rem;
}

.link-header:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.modal-dialog {
    max-width: 100% !important;
} 

footer {
    background: #414f57 !important;
    color:#fff;
    min-height:15rem;
    padding: 2rem 0;
}
.mention {
    text-align:center;
    font-size:0.8rem;
}

.fc-day {
    transition:all ease-in-out 0.2s;
}
.fc-day:hover {
    cursor:pointer;
    background: #e8e8e8;
}

.body-content h2 {
    color: #4E76CC !important;
    font-size:1.5rem;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.fa-sign-out-alt,
.fa-chart-bar,
.far.fa-clock,
.fa-user-circle,
.fa-exclamation-circle,
.fa-home{
    padding-right:0.2rem;    
}


.modal-body {
    
}
@media screen and (min-width: 1024px) {
    
    #bg-login {
        background: url(../img/bg-login.jpg) no-repeat;
        background-size: cover;
        min-height: 800px;
        background-position: 0 -12rem;
        padding: 15rem;
    }

}

.login-box {
    background: rgba(255,255,255,0.8);
}

.login-box label {
font-weight:600;    
}

.login-box h4 {
    text-align:center;
}

.spacer-min {
    padding: 15px 0;
}



.modal-content input[type="number"]{
    max-width:50px;
}

.modal-content table,
.modal-content{
    width:auto !important;
}

.modal-content {
    margin:auto !important;
}

.modal-content .table th {
    text-align:center;
    font-size: 0.8rem;
}

.btn-primary {
    color:#fff !important;
}

.edit-vol{
  
}

h2 {
    margin: 1rem 0 0 0;
    padding:1rem 0 0 0;
}

.body-content h1{
    background:#414f57 !important;
    color:#fff;
    padding:1rem;
    text-align:center;
    margin: 0;
    font-weight: 300 !important;
}

.container.page{
    margin-top:2rem;
}

.container.page label{
    font-weight: 600;
}

.green {
    color:green;
    padding:2rem 0;
}

.statut{
    font-weight: 600;
}

.min-table {
        font-size: 0.7rem !important;
}

.btn-lg {
    font-size:1rem !important;
}

.btn-edit:before{
      font-family: "Font Awesome 5 Free";
}

#pagination {
    text-align:center;
    color:#414f57 !important;
}

.mentions p {
    font-size:0.7rem;
    text-align:center;
}

#pagination a{
    color:#414f57 !important;
    display:inline-block;
    padding: 0 0.5rem;
}

.bg-gris{
    background-color: #fff;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border: 1px solid #e6e6e6
}

.link-cub{
    display:inline-block;
    width:100%;
    background:#fff;
    color:#414f57;
    padding:5rem;
    padding:1rem;
    transition:all 0.3s ease-in-out;
    text-align:center;
    margin: 1rem 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

.link-cub:hover{
    color:#fff;
    text-decoration:none;
    background:#54656e;
    box-shadow: 4px 4px 30px 0 rgba(0,0,0,.1);
}

.min-height-600{
    min-height:600px;
}

.info-lead{
    max-width:20rem;
}

#mod-top{
    
    background: #001940;
    height: 2rem;
    line-height: 2rem;
    font-family: roboto condensed;
    font-weight: 600;  
    color:#fff;
}
 
.top-content{
    padding:1rem 0;
}

.link-edit{
    text-transform:uppercase;
}

.modal .table{
    box-shadow: none !important;
}

.pink {
    background: #ea354f;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    display: inline-block;
    margin: 1rem 0 !important;
}

.lead-block{
    
    background: #ea354f;
    color: #fff;
    border-radius: 5px;
    padding: 0.5rem;
    display: inline-block;
    margin: 1rem 0 !important;
}

.lead-block i{
    
    padding-right:0.5rem;
        color:#fff;
}


.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ea354f !important;
    outline: 0;
    box-shadow:none !important;
}

.bg-radio{
    background:#fff;
    padding:1rem;
    display:inline-block;
}

.bg-radio label{
    margin:0;
}
label{
    margin:0 !important;
}

.mobile-panel{
    padding:2rem;
    margin:2rem 0;
        background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 1rem;
    border: 1px solid #e6e6e6;

}

.mobile-panel h2{
    margin:0;
    padding:0.2rem 0;
    text-align:center;
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    background:#001940;
    color:#fff !important;
    font-size:1rem;
}

.mobile-panel .btn-success{
    background: #ea354f;
    color:#fff;
    text-transform:uppercase;
    border:0;
    width:100%;
}

.mobile-panel ul {
    list-style: none;
    padding:0 !important;
}